@import '../base/variables';

.container2 {
   
    grid-template-columns: repeat(2, 1fr);

    .sidebar {
        img {
            padding: 20px;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            grid-column: span 4;
        }

        h2 {
            text-align: center;
            margin: 40px auto;
            color: $texto-primario;
            text-decoration: underline;
            
            
        }

        p {
            margin-bottom: 40px;
            text-align: center;
        }
    }
}

.container2 > .h1,
.container2 > .content2,
.container2 > .sidebar,
.container2 > div {
    background: $background-primario;
    color: $texto-primario;
    padding: 30px;
    border: 3px solid $texto-primario;
    
    

}


.container2>.content2 {
    grid-column: span 2;
    border: 3px solid $texto-primario;
}

.container2>.sidebar {
    grid-column: span 2;
}

