
.container2 {
    background-color: #ffffff;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    display: grid;
    gap: 70px;
    grid-template-columns: repeat(2, 1fr);


}

.related-post {
    text-align: center;

    &:hover {
        color: #F4EAD5;
        background-color: #000000;  
    }
}



.sidebar img {
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    grid-column: span 2;
}



.container2>.h1,
.container2>.content2,
.container2>.sidebar,
.container2>div {
    background: #6fff8d;
    color: #000000;
    padding: 30px;
    border: 1px solid #000000;
    
}


.container2>.content2 {
    grid-column: span 2;
}

.container2>.sidebar {
    grid-column: span 2;
}

.content2>.article {
    background-color: #6fff8d;
    padding: 20px;
    margin-top: 5px;
    color: #000000;

}
