.home {
    display: flex;
    align-items: center;
    padding: 0% 5%;

    &-content {
        max-width: 600px;
        height: auto;

        h1 {
            font-size: 50px;
            font-weight: 700;
            line-height: 1.2;
            text-align: left;
            margin-right: 100px;
        }

        h3 {
            font-size: 20px;
            margin: 20px 0 40px;
            text-align: justify;
            margin-right: 150px;
        }

        .btn-box {
            display: flex;
            justify-content: space-between;
            width: 345px;  
        }

    }

}

