@import '../base/variables';

@media(max-width:991px) {

    .home {
        flex-direction: column;
    }

    .home-content h1 {
        text-align: center;
        margin-right: 0px;
        margin-top: 40px;
        font-size: 60px;
    }

    .home-content h2 {
        margin-top: 60px;
        text-align: center;
        margin-right: auto;
        font-size: 40px;
    }

    .cajas .caja h2,
    .cajas .caja p {

        font-size: 30px;
        justify-content: center;

    }


    .carousel {
        margin-top: 100px;
        width: 95%;
        min-height: 80%;
        margin-left: 00px;
        margin-bottom: 60px;

    }


    .form-section form p input,
    .form-section form p textarea {
        width: 100%;
        display: flex;
        text-align: center;
        margin-right: 100px;
        margin-bottom: 40px;
        transform: none;
    }

    .form-section form p button {
        width: 70%;
        display: flex;
        margin: auto;

        align-items: center;
    }

    .contacto .form-section button {
        font-size: 50px;


    }



    .form-section img {
        display: block;
        width: 560px;
        height: 560px;
        margin: 30px auto;
        object-fit: fill;
    }

    .form-section form h3 {
        font-size: 0px;
        margin-right: 0px;
        padding-top: 0px;
    }

    .form-section form p input,
    .form-section form p textarea {
        font-size: 50px;
        padding: 20px;
    }

    .form-section form p label {
        font-size: 40px;
        margin-left: 50px;
        text-align: center;
    }

    .cajas .caja h2,
    .cajas .caja p {
        font-size: 40px;
        justify-content: center;

    }

    .pseudos .pseudo__container h2 {
        font-size: 80px;

    }

    .pseudos .pseudo__container span {
        font-size: 30px;
    }

    .form-section {
        display: flex;
        flex-direction: column;
    }



    .cardsADN .card_bodyADN img {

        display: none;

    }



    .cardsADN .card_bodyADN {

        width: auto;
    }

    .card_bodyADN p {
        font-size: 50px;
    }




    .sidebar img {
        width: 100%;
    }

    .sidebar p {
        text-align: center;
    }

    .related-post {
        text-align: center;
    }

    .footer-links h4 {
        font-size: 100px;
    }

    .footer-links li {
        font-size: 70px;
    }


    .caja_content h2 {
        font-size: 30px;
        justify-content: center;
    }



    .card_body {
        display: contents;
    }

    .cajas img {
        width: 100%;
    }

    .card_body h2,
    .card_body p {
        font-size: 20px;
    }


    .form-section img {
        object-fit: scale-down;
        margin-top: 0px;
        width: 100%;
        height: 100%;
        align-content: center;

    }



    .caja_content a {
        position: static;
    }

    .caja h2 {
        font-size: 20px;
    }

    .caja h3 {
        font-size: 60px;

    }

    .caja img {
        padding-bottom: 20px;
        margin-bottom: 40px;
    }

    .pseudo p {
        margin-top: 0;
        margin-bottom: 1rem;
        display: none;
    }

    .pseudos .pseudo img {
        width: 40%;
        height: 100%;
        object-fit: cover;
        filter: blur(0px);
        transition: 0.3s;
    }

    .nav-link {
        display: block;
        padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
        font-size: var(--bs-nav-link-font-size);
        font-weight: var(--bs-nav-link-font-weight);
        color: var(--bs-nav-link-color);
        text-decoration: none;
        background: 0 0;
        font-size: 50px;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

    }

    .offcanvas-title {
        margin-bottom: 0;
        font-size: 60px;
        line-height: var(--bs-offcanvas-title-line-height);
    }

    .dropdown-item {
        display: block;
        width: 100%;
        font-size: 50px;
        padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
        clear: both;
        font-weight: 400;
        color: var(--bs-dropdown-link-color);
        text-align: inherit;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        border-radius: var(--bs-dropdown-item-border-radius,0);
    }



    .card_body h2,
    .card_body p {

        color: $texto-primario;
        font-size: 40px;

    }

    .caja img {
        object-fit: scale-down;
        margin-top: 0px;
        width: 100%;
        height: 100%
    }

    .card_body img {
        flex-direction: column;
        width: 100%;
    }



    .footer {
        padding: 50px 0;
    }

    .footer-links ul li a {
        flex-direction: column;
        font-size: 50px;

    }

    .footer-columna {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}